a {
  color: #947848; }

body {
  background-image: url('../img/bkg-3.png'), -webkit-gradient(linear, left top, right top, from(black), color-stop(32%, white), color-stop(68%, white), to(black));
  background-image: url('../img/bkg-3.png'), -webkit-linear-gradient(left, black 0%, white 32%, white 68%, black 100%);
  background-image: url('../img/bkg-3.png'), linear-gradient(to right, black 0%, white 32%, white 68%, black 100%); }

/* wrapper */
.wrapper, .wrap {
  width: 100%;
  margin: 0 auto;
  position: relative; }

.page-wrapper, .p-wrap {
  font-family: 'Cutive', sans-serif;
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1100px;
  padding-right: 20px;
  padding-left: 20px; }

.content {
  padding: 50px 0; }

/*======================================================== 
header 
==========================================================*/
.header {
  height: 680px;
  background: url('../img/home-bkg-1.jpg');
  background-size: cover;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.8);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.8); }

/* business information across the top of header */
.business-info {
  padding: 5px; }
  .business-info a {
    color: #47342C; }
  .business-info .top-wdgt-l {
    color: white;
    float: left; }
  .business-info .top-wdgt-r {
    color: white;
    float: right; }
  .business-info li {
    display: inline-block;
    margin-left: 20px;
    color: white; }

/* ==============================================================
logo
================================================================= */
.logo {
  top: -32px;
  right: 0;
  width: 620px;
  display: block;
  position: absolute;
  padding: 10px; }
  .logo a:hover {
    color: black !important; }

.logo-img {
  width: 100%;
  margin: 0; }

/* ============================================================
nav 
================================================================*/
.nav {
  width: 100%;
  top: 75px;
  padding: 0;
  display: block;
  position: absolute;
  z-index: 10;
  background: rgba(255, 255, 255, 0.89); }
  .nav ul {
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
    bottom: 0; }
  .nav li {
    position: relative;
    display: inline-block;
    margin-left: -4px; }
    .nav li::after {
      top: 15px;
      right: 0;
      z-index: -1;
      position: absolute;
      content: "";
      border-right: solid 1px black;
      height: 20px; }
    .nav li:last-child::after {
      border: none; }
    .nav li a {
      display: block;
      font-family: 'Cutive', sans-serif;
      color: black;
      padding: 15px 30px;
      font-variant: small-caps;
      font-size: 16px;
      position: relative;
      font-weight: 800; }
      .nav li a:hover {
        background: white;
        color: black; }
  .nav ul.sub-menu {
    display: none; }
    .nav ul.sub-menu a {
      padding: 10px;
      width: 300px; }

.nav ul li:hover > ul.sub-menu {
  display: block;
  z-index: 99;
  position: absolute;
  top: 30px;
  margin: 0px 0px 0px -16px;
  padding: 0px;
  border: 1px #808080 solid;
  background-color: #fff;
  width: 300px; }

.current_page_item a {
  color: black; }

/*=============================================================
banner
===============================================================*/
.banner-home {
  /* height: 420px; */
  background: url('./img/bkg-1.jpg');
  background-size: cover; }

/* ===============================================================
footer items
=================================================================== */
.footer-items {
  padding: 25px 0;
  color: #525252; }
  .footer-items ul {
    padding-left: 0; }
  .footer-items .widget_nav_menu {
    width: 33.3%;
    float: left;
    border-right: solid 1px #c2c2c2;
    padding-left: 35px; }
    @media (max-width: 45em) {
      .footer-items .widget_nav_menu {
        float: none;
        width: 90%; } }
  .footer-items .widget_text {
    padding-left: 36px;
    width: 33.3%;
    float: left; }
    @media (max-width: 45em) {
      .footer-items .widget_text {
        float: none;
        width: 90%; } }

/*=============================================================== 
footer 
================================================================*/
footer {
  background: #47342C;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 12px; }
  footer a {
    color: white; }

/* ==========================================================================
   =COLOR
   ========================================================================== */
.swatch {
  height: 5em; }

.bkg-2 {
  background: url('../img/home-bkg-2.jpg');
  background-size: cover;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.8);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.8); }

.black-trans {
  background: rgba(12, 12, 12, 0.8); }

.color-1 {
  background: #947848; }

.color-2 {
  background: #47342C; }

.color-3 {
  background: #f4eae2; }

.color-4 {
  background: #C53F24; }

.color-5 {
  background: -webkit-gradient(linear, left top, right top, from(#877b71), color-stop(32%, #f4eae2), color-stop(68%, #f4eae2), to(#877b71));
  background: -webkit-linear-gradient(left, #877b71 0%, #f4eae2 32%, #f4eae2 68%, #877b71 100%);
  background: linear-gradient(to right, #877b71 0%, #f4eae2 32%, #f4eae2 68%, #877b71 100%); }

.color-6 {
  background: #C3C9CA; }

.txt-color-1 {
  color: #947848; }

.txt-color-2 {
  color: #47342C; }

.txt-color-3 {
  color: #f4eae2; }

.txt-color-4 {
  color: #C53F24; }

.txt-color-5 {
  color: linear-gradient(to right, #877b71 0%, #f4eae2 32%, #f4eae2 68%, #877b71 100%); }

.txt-color-6 {
  color: #C3C9CA; }

.txt-wht {
  color: white; }

/* ===========================================================================
  typography
  =========================================================================== */
p {
  margin: 0 0 20px; }

ul li, ol li {
  line-height: 130%; }

.headline-1 {
  background: url('../img/left-headline-bkg.png') left 8px no-repeat, url('../img/right-headline-bkg.png') right 10px no-repeat;
  display: table;
  text-align: center;
  padding: 30px 181px 35px;
  font-family: 'Cutive', sans-serif;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2em;
  margin: 0 auto 15px auto; }
  .headline-1:before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    top: 28px;
    height: 60px;
    width: 100%;
    border-top: solid 1px;
    border-bottom: solid 1px; }

.title-1 {
  font-variant: small-caps;
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5em;
  margin-bottom: 15px; }

.sub-headline-1 {
  font-variant: small-caps;
  letter-spacing: 0.3em;
  line-height: 1.2em;
  display: block;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px; }

.title-2 {
  text-align: center;
  font-variant: small-caps;
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2em;
  margin-bottom: 15px;
  border-top: solid 1px;
  border-bottom: solid 1px; }

.title-3 {
  font-variant: small-caps;
  display: block;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2em;
  margin-bottom: 10px; }

/* ==========================================================================
   = User input
   ========================================================================== */
.ws-form {
  margin-top: -1.5em; }

input[type='text'], input[type='email'], input[type='url'], textarea {
  /* Use for styling text based form elements, like name, email, password. 
    Button/submit specific styles below, those will override */
  display: block;
  padding: 0.5em;
  margin-bottom: 0.75em;
  border: 0.1em solid #47342C;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  resize: none; }

input:focus, textarea:focus {
  outline: none;
  border-color: #947848; }

input[type='button'], input[type='submit'], .button, [class^="btn-"] {
  border: none;
  line-height: 1;
  cursor: pointer;
  padding: 1em 1.5em;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  display: block;
  margin-bottom: 0.75em;
  margin-bottom: 0.75rem;
  border-radius: 5px; }

.form-btn-1, .btn-1 {
  color: white;
  background-color: black; }
  .form-btn-1:hover, .btn-1:hover {
    background-color: black; }
  .form-btn-1:active, .form-btn-1:focus, .btn-1:active, .btn-1:focus {
    background-color: black; }

.btn-2 {
  color: white;
  background-color: #C53F24; }
  .btn-2:hover {
    background-color: #9a311c; }
  .btn-2:active, .btn-2:focus {
    background-color: #C53F24; }

.btn-3 {
  font-size: 0.875em;
  background-color: lightgrey; }
  .btn-3:hover {
    background-color: #b9b9b9; }
  .btn-3:active, .btn-3:focus {
    background-color: lightgrey; }

/* ==========================================================================
   =ADJECTIVES
   ========================================================================== */
.ws-adjectives div {
  font-size: 1.5em;
  padding-bottom: 0.25em; }

/* ==========================================================================
   =COLOPHON
   ========================================================================== */
.colophon {
  clear: both;
  text-align: center;
  font-size: 0.875em;
  padding: 1.714em 0;
  border-top: thin solid #eee;
  margin-top: 1.714em; }

/* =========================================================================
   =objects
   ========================================================================= */
.img-1 {
  padding: 10px;
  background: white;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.8);
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.8); }

.contact-icon {
  background: url('../img/contact-bkg.png') center center no-repeat;
  background-size: 40%;
  height: 36px; }
  .contact-icon a {
    font-size: 0 !important; }
    .contact-icon a:hover {
      background: none !important; }

.social-header {
  margin-top: 150px;
  padding: 30px;
  display: inline-block;
  text-align: center; }

.social {
  display: inline-block;
  color: black;
  background: rgba(250, 250, 250, 0.9);
  font-size: 30px;
  margin: 10px;
  border-radius: 200px;
  height: 55px;
  width: 55px; }

.facebook {
  padding: 3px 15px 3px 18px; }

.youtube {
  padding: 3px 10px 3px 14px; }

.instagram {
  padding: 3px 10px 3px 15px; }

.twitter {
  padding: 4px 12px 3px 15px; }

/* =========================================================================
   =Plugin Hacks
   ========================================================================= */
h2.audioalbum {
  font-family: 'Cutive', sans-serif;
  font-variant: small-caps;
  text-transform: none !important; }

.audioalbum {
  background: #000 !important; }
