@function black($opacity){
    @return rgba(0,0,0,$opacity)
}
@function white($opacity){
    @return rgba(255,255,255,$opacity)
}

@mixin letterpress($opacity){
    text-shadow:white($opacity) 0 1px 0;
}

@mixin box-emboss($opacity, $opacity2){
    box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

@mixin btnHover($baseColor) {
    background-color: $baseColor;
    &:hover {
          background-color: darken($baseColor, 10);
            }
    &:active, &:focus {
      background-color:$baseColor;
    }
          }


$font-1:'Open Sans', sans-serif;
$font-2:'Cutive', sans-serif;
$grey-1: white;
$grey-2: #F2F2F2;
$grey-3: rgb(229, 229, 229);
$grey-4:lightgrey;
$grey-5:grey;
$grey-6:darkgrey;
$grey-7:black;
$color-1:#947848;
$color-2:#47342C;
$color-3:#f4eae2;
$color-4:#C53F24;
$color-5:linear-gradient(to right, #877b71 0%,#f4eae2 32%,#f4eae2 68%,#877b71 100%);
$color-6:#C3C9CA;
$bkg-2:url('../img/home-bkg-2.jpg');
$bkg-3: url('../img/bkg-3.png'), radial-gradient(ellipse at center, #FBF4E7 40%, #88682E 110%);
$shadow-1:0 1px 8px rgba(0, 0, 0, 0.8);

a {
  color:$color-1;
}

body {
  background-image:$bkg-3;
}

/* wrapper */
.wrapper, .wrap {
  width: 100%;
  margin:0 auto;
  position:relative;
}

.page-wrapper, .p-wrap {
  font-family: $font-2;
  position:relative;
  margin: auto;
  width: 100%;
  max-width: 1100px;
  padding-right:20px;
  padding-left:20px;
}

.content {
  padding:50px 0;
}

/*======================================================== 
header 
==========================================================*/
.header {
  position:relative;
  z-index: 2;
  height: 680px;
  background: url('../img/home-bkg-1.jpg');
  background-size: cover;
  box-shadow:$shadow-1;
   @media (max-width: 60em) {
    background-position: 20% center;
   }
}

/* business information across the top of header */

.business-info {
  padding: 5px;
    a {
      color: $color-2;
  }
  .top-wdgt-l {
    color:$grey-1;
    float: left;
  }
   .top-wdgt-r {
    color:$grey-1;
    float: right;
  }
    li {
      display: inline-block;
      margin-left: 20px;
      color: white;
  }
}

/* ==============================================================
logo
================================================================= */

.logo {
  z-index: 11;
  top: 40px;
  right: 0;
  width: 625px;
  display: block;
  position: absolute;
  padding:10px;
  @media (max-width: 60em) {
    width:90%;
    position:relative;
    top:0;
    margin:auto;
  }
  a:hover {
    color: black !important;
  }
}

.logo-img {
  width:100%;
  margin: 0;
}

/* ============================================================
nav 
================================================================*/


.nav {
    width:100%;
    top:75px;
    padding:0;
    display: block;
    position: absolute;
    z-index: 10;
    background: rgba(255, 255, 255, 0.89);
    @media (max-width: 60em) {
      display: none;
    }
   ul {
      margin: 0;
      padding: 0;
      position:relative;
      left:0;
      bottom:0;
     }
    li {
      position:relative;
      display:inline-block;
      margin-left: -4px;
      &::after {
        top:15px;
        right:0;
        z-index: -1;
        position:absolute;
        content:"";
        border-right:solid 1px black;
        height: 20px;
      }
      &:last-child::after {
        border:none;
      }
      a {
        display:block;
        font-family: $font-2;
        color: black;
        padding: 15px 30px;
        font-variant: small-caps;
        font-size: 16px;
        position: relative;
        font-weight: 800;
        &:hover {
          background: $grey-1;
          color:black;
          }
        }
       

     }
    
    ul.sub-menu {
    display:none;
    a{
      padding:10px;
      width:300px
      }
    }
  }

.nav ul li:hover > ul.sub-menu {
display:block;
z-index:99;
position:absolute;
top:30px;
margin:0px 0px 0px -16px;
padding:0px;
border:1px #808080 solid;
background-color:#fff;
width:300px;
}

.current_page_item a {
color: black;
}

/*=============================================================
banner
===============================================================*/

.banner-home {
    /* height: 420px; */
    background: url('./img/bkg-1.jpg');
    background-size: cover;
}


/* ===============================================================
footer items
=================================================================== */

.footer-items {
    padding: 0 0;
    color: rgb(82, 82, 82);
    ul {
      padding-left:0;
    }
    .widget_nav_menu {
      width: 33.3%;
      float: left;
      border-right: solid 1px rgb(194, 194, 194);
      padding-left: 35px;
       @media (max-width: 45em) {
        float:none;
        width:90%;
        }
    }
    .widget_text {
      padding-left: 36px;
      width: 33.3%;
      float: left;
       @media (max-width: 45em) {
        float:none;
        width:90%;
        } 
    }
}

/*=============================================================== 
footer 
================================================================*/

footer {
  background:$color-2;
  text-align:center;
  color: $grey-1;
  padding: 10px;
  font-size: 12px;

  a {
    color: $grey-1;
  }
}

/* ==========================================================================
   =COLOR
   ========================================================================== */
.swatch {
  height: 5em;
}

.bkg-2 {
  background:$bkg-2;
  background-size:cover;
  box-shadow:$shadow-1;
  position:relative;
  z-index: 2;
}

.bkg-3 {
  background:$bkg-3;
  box-shadow:$shadow-1;
  position:relative;
  z-index: 1;
}

.black-trans {
  background:rgba(12, 12, 12, 0.8);
}

.color-1 {
  background: $color-1;
}

.color-2 {
  background: $color-2;
}

.color-3 {
  background: $color-3;
}

.color-4 {
  background: $color-4;
}

.color-5 {
  background: $color-5;
}

.color-6 {
  background: $color-6;
}

.txt-color-1 {
  color: $color-1;
}

.txt-color-2 {
  color: $color-2;
}

.txt-color-3 {
  color: $color-3;
}

.txt-color-4 {
  color: $color-4;
}

.txt-color-5 {
  color: $color-5;
}

.txt-color-6 {
  color: $color-6;
}

.txt-wht {
  color:$grey-1;
}


/* ===========================================================================
  typography
  =========================================================================== */
p {margin:0 0 20px;}

ul li, ol li {line-height: 130%;}


.headline-1 {
  background: url('../img/left-headline-bkg.png') left 8px no-repeat, url('../img/right-headline-bkg.png') right 10px no-repeat;
  display: table;
  text-align: center;
  padding: 30px 181px 35px;
  font-family: $font-2;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2em;
  margin: 0 auto 15px auto;
   @media (max-width: 60em) {
    font-size: 22px;
    background:none;
     border-top: solid 1px ;
    border-bottom: solid 1px ;
    padding:10px;
    width:100%;
  }

  &:before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    top: 28px;
    height: 60px;
    width: 100%;
    border-top: solid 1px ;
    border-bottom: solid 1px ;
     @media (max-width: 60em) {
    display: none;
   }
  }
}


.title-1 {
  font-variant: small-caps;
  display:block;
  text-align: center;
  font-weight: 400;
  font-size:30px;
  line-height: 1.5em;
   margin-bottom:15px;
}

.sub-headline-1 {
  font-variant: small-caps;
  letter-spacing: .3em;
  line-height: 1.2em;
  display:block;
  font-weight: 600;
  font-size:24px;
  margin-bottom:10px;
}


.title-2 {
  text-align:center;
  font-variant: small-caps;
  display:block;
  font-weight:400;
  font-size:24px;
  line-height: 1.2em;
  margin-bottom:15px;
  border-top: solid 1px ;
  border-bottom: solid 1px;
}

.title-3 {
  font-variant: small-caps;
  display:block;
  font-weight:800;
  font-size:16px;
  line-height: 1.2em;
   margin-bottom:10px;
}

/* ==========================================================================
   = User input
   ========================================================================== */
.ws-form {
  margin-top: -1.5em;
}



  input[type='text'], input[type='email'], input[type='url'], textarea {
    /* Use for styling text based form elements, like name, email, password. 
    Button/submit specific styles below, those will override */
    display: block;
    padding: .5em;
    margin-bottom: .75em;
    border: .1em solid $color-2;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    resize: none;
    background:rgba(255, 255, 255, 0.7);
  }


input:focus, textarea:focus {
  outline: none;
  border-color: $color-1;
}

input[type='button'], input[type='submit'], .button, [class^="btn-"]  {
  border: none;
  line-height: 1;
  cursor: pointer;
  padding: 1em 1.5em;
  transition: all .3s ease;
  display: block;
  margin-bottom: .75em;
  margin-bottom: .75rem;
  border-radius: 5px;
}


.form-btn-1, .btn-1 {
  color: $grey-1;
  @include btnHover(black);
}

.btn-2 {
   color: $grey-1;
  @include btnHover($color-4);
}

.btn-3 {
  font-size: .875em;
 @include btnHover($grey-4);
}


/* ==========================================================================
   =ADJECTIVES
   ========================================================================== */
.ws-adjectives div {
  font-size: 1.5em;
  padding-bottom: .25em;
}

/* ==========================================================================
   =COLOPHON
   ========================================================================== */
.colophon {
  clear: both;
  text-align: center;
  font-size: .875em;
  padding: 1.714em 0;
  border-top: thin solid #eee;
  margin-top: 1.714em;
}

/* =========================================================================
   =objects
   ========================================================================= */
.img-1 {
  padding:10px;
  background:$grey-1;
  box-shadow:$shadow-1;
}

.contact-icon {
  background:url('../img/contact-bkg.png') center center no-repeat;
  background-size:40%; 
  height: 36px;
  a {
    font-size:0 !important;
    &:hover {
      background:none !important;
    }
  }
}

.social-header {
  margin: 151px 65px;
  padding:30px;
  display: inline-block;
  text-align: center;
  @media (max-width: 60em) {
    position: absolute;
    bottom: -452px;
    z-index: 4;
    margin: 0;
  }
}

.social {
  display: inline-block;
  color:black;
  background:rgba(250,250,250,.9);
  font-size: 30px;
  margin: 10px;
  border-radius: 200px;
  height: 55px;
  width:55px;

}

.facebook {
  padding:3px 15px 3px 18px;
}

.youtube {
  padding:3px 10px 3px 14px;
}

.instagram {
  padding:3px 10px 3px 15px;
}

.twitter {
  padding:4px 12px 3px 15px;
}

/* =========================================================================
   =Plugin Hacks
   ========================================================================= */

h2.audioalbum {
  font-family: $font-2;
  font-variant: small-caps;
  text-transform: none !important; 
}

.audioalbum {
background: #000 !important;
}